## Ejemplo 4: Manipulación de columnas

### 1. Objetivos:
    - Aprender a crear nuevas columnas en un `DataFrame`
    - Aprender a reasignar columnas
    - Aprender a eliminar columnas
 
---
    
### 2. Desarrollo:

In [1]:
import pandas as pd

Tenemos aquí un `DataFrame`:

In [2]:
datos = {
    "Nombre": ["Pepinillo Hernández", "Lúpulo de Dios", "Juan Juon", "Jimmy el Patatas",
        "Lorenzo Retaguardias"],
    "Cereal favorito": ["Korn Floks", "Verdurinis", "Zumbaritas", "Diabetukis, Papá",
        "Fibra Máxima 3000"],
    "Hora del desayuno": ["11:00", "07:30", "07:00", "08:30", "09:30"]
}

df = pd.DataFrame(datos)
df

                 Nombre    Cereal favorito Hora del desayuno
0   Pepinillo Hernández         Korn Floks             11:00
1        Lúpulo de Dios         Verdurinis             07:30
2             Juan Juon         Zumbaritas             07:00
3      Jimmy el Patatas   Diabetukis, Papá             08:30
4  Lorenzo Retaguardias  Fibra Máxima 3000             09:30

Agregar una nueva columna de `Frutas` con los valores `["Pera", "Manzana", "Plátano", "Guayaba","Pizza"]` haciendo uso de una Serie:

`variable_dataframe[-nombre de columna-] = ps.Series(-lista de valores-)`

In [3]:
df["Frutas"] = pd.Series(["Pera", "Manzana", "Plátano", "Guayaba","Pizza"])

df

                 Nombre    Cereal favorito Hora del desayuno   Frutas
0   Pepinillo Hernández         Korn Floks             11:00     Pera
1        Lúpulo de Dios         Verdurinis             07:30  Manzana
2             Juan Juon         Zumbaritas             07:00  Plátano
3      Jimmy el Patatas   Diabetukis, Papá             08:30  Guayaba
4  Lorenzo Retaguardias  Fibra Máxima 3000             09:30    Pizza

También es posible modificar los valores de las horas del desayuno por:

    "10:30", "06:30", "06:00", "07:00", "08:00"
    
Se usa la misma forma, sólo que en este caso se usa el nombre de una columna que ya existía para remplazar sus valores:

In [4]:
df["Hora del desayuno"] = pd.Series(["10:30", "06:30", "06:00", "07:00", "08:00"])

df

                 Nombre    Cereal favorito Hora del desayuno   Frutas
0   Pepinillo Hernández         Korn Floks             10:30     Pera
1        Lúpulo de Dios         Verdurinis             06:30  Manzana
2             Juan Juon         Zumbaritas             06:00  Plátano
3      Jimmy el Patatas   Diabetukis, Papá             07:00  Guayaba
4  Lorenzo Retaguardias  Fibra Máxima 3000             08:00    Pizza

Ahora, para eliminar la columna de `Frutas` se hace uso de la forma:

`variable_dataframe.drop(columns=-lista de columnas a borrar-)`

In [ ]:
df.drop?

In [7]:
df.drop(columns=["Frutas"])
df

                 Nombre    Cereal favorito Hora del desayuno   Frutas
0   Pepinillo Hernández         Korn Floks             10:30     Pera
1        Lúpulo de Dios         Verdurinis             06:30  Manzana
2             Juan Juon         Zumbaritas             06:00  Plátano
3      Jimmy el Patatas   Diabetukis, Papá             07:00  Guayaba
4  Lorenzo Retaguardias  Fibra Máxima 3000             08:00    Pizza

Recuerda que estos métodos sólo regresan "vistas". Para que el cambio permanezca, tenemos que asignar el resultado de la operación a la variable `df` o a alguna otra variable:

In [8]:
df_sin_frutas = df.drop(columns=["Frutas"])
df_sin_frutas

                 Nombre    Cereal favorito Hora del desayuno
0   Pepinillo Hernández         Korn Floks             10:30
1        Lúpulo de Dios         Verdurinis             06:30
2             Juan Juon         Zumbaritas             06:00
3      Jimmy el Patatas   Diabetukis, Papá             07:00
4  Lorenzo Retaguardias  Fibra Máxima 3000             08:00

---
---
## Reto 4: Manipulación de Columnas

### 1. Objetivos:
    - Practicar asignar, reasignar y eliminar columnas de `DataFrames`
 
---
    
### 2. Desarrollo:

a) Transformación de `DataFrames`

Eres de nuevo el Data Wrangler Inc. Tienes el mismo conjunto de datos que en el Reto pasado:

In [ ]:
datos_productos = {
    "nombre": ["Pokemaster", "Cegatron", "Pikame Mucho", "Lazarillo de Tormes", "Stevie Wonder", "Needle", "El AyMeDuele"],
    "precio": [10000, 5500, 3500, 750, 15500, 12250, 23000],
    "peso": [1.2, 1.5, 2.3, 5.5, 3.4, 2.4, 8.8],
    "capacidad de destrucción retinal": [3, 7, 6, 8, 9, 2, 10],
    "disponible": [True, False, True, True, False, False, True]
}

indice = [1, 2, 3, 4, 5, 6, 7]

Esta vez el Analista de Datos te hace 3 nuevos pedidos que incluyen la creación de una nueva columna, la asignación de nuevos datos a una columna y la eliminación de un par de columnas.

Crea un `DataFrame` usando `datos_productos` e `indice` y realiza sus pedidos.

In [ ]:
...

df_productos

In [ ]:
# Agrega por favor una columna con el nombre
# "nivel de dolor" a `df_procutos_2` con los
# valores de columna_nueva
columna_nueva = [4, 7, 6, 8, 9, 7, 3]
df_productos_2 = df_productos.copy()

...

df_productos_2

In [ ]:
# Modifica por favor el DataFrame `df_productos_3`
# cambiando la columna `precio` por la información
# contenida en `precios_descuento`
precios_descuento = [8000, 4000, 2000, 500, 14000, 10000, 15000]
df_productos_3 = df_productos.copy()

...

df_productos_3

In [ ]:
# Elimina por favor las columnas "precio" y "peso"
# de `df_productos` y asigna el resultado a
# `df_productos_4`
...

df_productos_4

A continuación la celda de verificación ...

In [ ]:
def verificar_modificaciones(datos_productos, indice, df_productos, columna_nueva, df_productos_mas_columna_nueva, 
                             precios_descuento, df_productos_descuento, df_productos_sin_precio_ni_peso):
    
    import pandas as pd
    datos1 = [112, 100, 46, 68, 97, 116, 97, 70, 114, 97, 109, 101, 40, 100, 97, 116, 111, 115, 95, 112, 114, 111, 100, 117, 99, 116, 111, 115, 44, 32, 105, 110, 100, 101, 120, 61, 105, 110, 100, 105, 99, 101, 41]
    df_productos_esperado = eval("".join([chr(x) for x in datos1]))
    if not df_productos_esperado.equals(df_productos):
        print(f'df_productos ha sido creado incorrectamente ... Favor de revisar')
        return
    
    print(f'== Verificación de Modificaciones ==\n')
    datos2 = [10, 99, 111, 108, 117, 109, 110, 97, 95, 110, 117, 101, 118, 97, 95, 115, 101, 114, 105, 101, 32, 61, 32, 112, 100, 46, 83, 101, 114, 105, 101, 115, 40, 99, 111, 108, 117, 109, 110, 97, 95, 110, 117, 101, 118, 97, 44, 32, 105, 110, 100, 101, 120, 61, 105, 110, 100, 105, 99, 101, 41, 10, 100, 102, 95, 112, 114, 111, 100, 117, 99, 116, 111, 115, 95, 109, 97, 115, 95, 99, 111, 108, 117, 109, 110, 97, 95, 110, 117, 101, 118, 97, 95, 50, 32, 61, 32, 100, 102, 95, 112, 114, 111, 100, 117, 99, 116, 111, 115, 46, 99, 111, 112, 121, 40, 41, 10, 100, 102, 95, 112, 114, 111, 100, 117, 99, 116, 111, 115, 95, 109, 97, 115, 95, 99, 111, 108, 117, 109, 110, 97, 95, 110, 117, 101, 118, 97, 95, 50, 91, 39, 110, 105, 118, 101, 108, 32, 100, 101, 32, 100, 111, 108, 111, 114, 39, 93, 32, 61, 32, 99, 111, 108, 117, 109, 110, 97, 95, 110, 117, 101, 118, 97, 95, 115, 101, 114, 105, 101, 10, 112, 114, 101, 99, 105, 111, 115, 95, 100, 101, 115, 99, 117, 101, 110, 116, 111, 95, 115, 101, 114, 105, 101, 32, 61, 32, 112, 100, 46, 83, 101, 114, 105, 101, 115, 40, 112, 114, 101, 99, 105, 111, 115, 95, 100, 101, 115, 99, 117, 101, 110, 116, 111, 44, 32, 105, 110, 100, 101, 120, 61, 105, 110, 100, 105, 99, 101, 41, 10, 100, 102, 95, 112, 114, 111, 100, 117, 99, 116, 111, 115, 95, 100, 101, 115, 99, 117, 101, 110, 116, 111, 95, 50, 32, 61, 32, 100, 102, 95, 112, 114, 111, 100, 117, 99, 116, 111, 115, 46, 99, 111, 112, 121, 40, 41, 10, 100, 102, 95, 112, 114, 111, 100, 117, 99, 116, 111, 115, 95, 100, 101, 115, 99, 117, 101, 110, 116, 111, 95, 50, 91, 39, 112, 114, 101, 99, 105, 111, 39, 93, 32, 61, 32, 112, 114, 101, 99, 105, 111, 115, 95, 100, 101, 115, 99, 117, 101, 110, 116, 111, 95, 115, 101, 114, 105, 101, 10, 100, 102, 95, 112, 114, 111, 100, 117, 99, 116, 111, 115, 95, 115, 105, 110, 95, 112, 114, 101, 99, 105, 111, 95, 110, 105, 95, 112, 101, 115, 111, 95, 50, 32, 61, 32, 100, 102, 95, 112, 114, 111, 100, 117, 99, 116, 111, 115, 46, 100, 114, 111, 112, 40, 99, 111, 108, 117, 109, 110, 115, 61, 91, 39, 112, 114, 101, 99, 105, 111, 39, 44, 32, 39, 112, 101, 115, 111, 39, 93, 41, 10, 32, 32, 32, 32]
    eval(compile("".join([chr(x) for x in datos2]), "", "exec"), globals() )
    
    verificar_modificacion(df_productos_mas_columna_nueva_2, df_productos_mas_columna_nueva, 'Agrega por favor columna `columna_nueva` a `df_productos_mas_columna_nueva` con el nombre de columna "nivel de dolor"')    
    verificar_modificacion(df_productos_descuento_2, df_productos_descuento, 'Cambia por favor el `DataFrame` `df_productos_descuento` cambiando la columna `precio` por la información contenida en `precios_descuento`')
    verificar_modificacion(df_productos_sin_precio_ni_peso_2, df_productos_sin_precio_ni_peso, 'Elimina por favor las columnas "precio" y "peso"')
    
def verificar_modificacion(esperada, recibida, descripcion):
    es_correcta = "Correcto" if esperada.equals(recibida) else "Incorrecto"
    respuesta = "Muchas gracias!" if es_correcta == "Correcto" else "Favor de revisar"
    print(f"\n- Descripción de pedido: {descripcion}")
    print(f"El pedido es {es_correcta} ... {respuesta}")
    
verificar_modificaciones(datos_productos, indice, df_productos, columna_nueva, df_productos_2, 
                             precios_descuento, df_productos_3, df_productos_4)